@charset "UTF-8";
.title {
  background: #4D4C49;
  /* Цвет фона */
  width: 300px;
  /* Ширина блока */
  padding: 10px;
  /* Поля */
  color: #FFFFFF;
  font-size: 34pt;
  text-align: center;
  border-radius: 10px;
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; }
